nav {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 75px;
}

nav ul li{
display: inline-block;
color: blue;
font-weight: bold;
margin-right: 20px;
}

nav ul{
text-align: right;
}

body {
background-color: lightblue;
}

fieldset{
    background-color: white;
    margin: 200px;
    /* margin: auto; */
    border-radius: 10px;
    width: 400px;
    text-align: center;
    
}
h1{
    font-family: sans-serif;
    text-align: left;
    
}


input{
    color: gray;
    margin: 15px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border-color: gray;
    border-style: solid;
    font-size: 16px;
}

button{
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;
    border: solid, 1px;
    border-color: gray;
    padding: 10px;
}

nav button{
    width: 100px;
}

fieldset button {
width: 330px;
padding: 10px;
margin: 10px;
}

img{
    border-radius: 50%;
    width:45px;
    height:45px;
    /* border: 10px, solid, gray; */
    /* border-color: gray; */
    /* border-spacing: 10px; */
    /* align-items: center; */
    margin: 5px;
}

.logoBar{
    padding: 30px;
}

